@font-face {
  font-family: "iconfont"; /* Project id 4169159 */
  src:
    url("//at.alicdn.com/t/c/font_4169159_y4klrul5x9b.woff2?t=1690006206144") format("woff2"),
    url("//at.alicdn.com/t/c/font_4169159_y4klrul5x9b.woff?t=1690006206144") format("woff"),
    url("//at.alicdn.com/t/c/font_4169159_y4klrul5x9b.ttf?t=1690006206144") format("truetype");
}

[class*="dv-icon"],
[class^="dv-icon"],
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;

  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dv-icon-parent:before {
  content: "\e607";
}

.dv-icon-select:before {
  content: "\e608";
}

.dv-icon-polygon:before {
  content: "\e609";
}

.dv-icon-star2:before {
  content: "\e62a";
}

.dv-icon-goodnight:before {
  content: "\e6eb";
}

.dv-icon-goods:before {
  content: "\e82c";
}

.dv-icon-shanchu:before {
  content: "\e629";
}

.dv-icon-shuaxin:before {
  content: "\e62b";
}

.dv-icon-suoxiao:before {
  content: "\e62c";
}

.dv-icon-xiazai:before {
  content: "\e62e";
}

.dv-icon-jianhao:before {
  content: "\eaf5";
}

.dv-icon-jianshao:before {
  content: "\e8b1";
}

.dv-icon-add:before {
  content: "\e664";
}

.dv-icon-hongjiu:before {
  content: "\10121";
}

.dv-icon-naika:before {
  content: "\10122";
}

.dv-icon-kafei:before {
  content: "\10123";
}

.dv-icon-shouye:before {
  content: "\10124";
}

.dv-icon-jieping:before {
  content: "\e6d1";
}

.dv-icon-shezhi:before {
  content: "\e70f";
}

.dv-icon-duigou:before {
  content: "\ebe6";
}

.dv-icon-user:before {
  content: "\e7ae";
}

.dv-icon-cuowu:before {
  content: "\e603";
}

.dv-icon-delete:before {
  content: "\e699";
}

.dv-icon-star1:before {
  content: "\e859";
}

.dv-icon-search:before {
  content: "\e65c";
}

.dv-icon-star:before {
  content: "\e671";
}

.dv-icon-loading:before {
  content: "\e689";
}

.dv-icon-youjiantou:before {
  content: "\e612";
}
