.app-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    .main-container {
      min-height: 100%;
      -webkit-transition: margin-left 0.28s;
      transition: margin-left 0.28s;
      margin-left: 210px;
      position: relative;
      .fixed-header {
        position: fixed;
        top: 0;
        left: 210px;
        right: 0;
        z-index: 9;
        transition: width 0.28s;
      }
    }
}