.last-article{
  &-operation{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;

    &>div{
      width: 96px;
      height: 42px;
      border-radius: 24px;
      border: 1px solid #A2A2A2;
      margin-left: 10px;
      font-size: 17px;
      font-weight: 400;
      color: #6B7183;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img{
        width: 20px;
        height: 20px;
        margin-right: 7px;
      }
    }
  }
  &-operation &-star-hover, &-operation &-praise-hover{
    color: #F14545;
    border: 1px solid #F14545;
  }
  &-operation &-stared{
    border: 1px solid #0091FF;
    color: #0091FF;
  }

  &-operation &-praised{
    border: 1px solid #F24300;
    color: #F24300;
  }
}
