.multiple-btn-con {
  display: flex;
  margin-bottom: 20px;
}

.multiple-con {
  display: flex;
  width: 100%;
}

.multiple-micro-app {
  display: block;
  flex: 1;
  min-width: 200px;
  margin: 0 5px;
}
