.swiper-pagination {
	text-align: right !important;
}

.swiper-pagination-bullet {
	background: #fff !important;
	opacity: .8 !important;

	&.swiper-pagination-bullet-active {
		background: #007aff !important;
	}
}