.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-con2 {
  text-align: initial;
  margin: 10px;
}

.test-cssrules-a {
  padding: var(--padding-50);
  padding-top: 10px;
  -webkit-background-clip: text;
  background-clip: text;
}

.test-cssrules-b {
  /* 这两个规则同时出现，会导致CSSRules异常 */
  border: 1px solid var(--color-a);
  border-top-color: var(--color-b);

  /* 非var变量正常渲染 */
  /*
  border: 1px solid red;
  border-top-color: yellow;
  */
}

/*
打包之后会格式化成有问题的代码
.test-b {
  border-image: initial;
  问题出现在下面两行
  border: 1px solid var(--color-a);
  border-top-color: var(--color-b);
}
*/
