@font-face {
  font-family: "iconfont"; /* Project id 3159536 */
  src: url('iconfont.woff2?t=1645847408693') format('woff2'),
       url('iconfont.woff?t=1645847408693') format('woff'),
       url('iconfont.ttf?t=1645847408693') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aligncenter:before {
  content: "\e68d";
}

.icon-alignleft:before {
  content: "\e68e";
}

.icon-alignright:before {
  content: "\e68f";
}

.icon-iframe:before {
  content: "\e74c";
}

.icon-copynode:before {
  content: "\e6e4";
}

.icon-cut:before {
  content: "\e6e8";
}

.icon-fontitalics:before {
  content: "\e731";
}

.icon-fontstrikethrough:before {
  content: "\e733";
}

.icon-fontunderline:before {
  content: "\e734";
}

.icon-fontbold:before {
  content: "\e72e";
}

