.tags-view-wrapper {
    .tags-view-item {
      .el-icon-close {
        width: 16px;
        height: 16px;
        vertical-align: 2px;
        border-radius: 50%;
        text-align: center;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transform-origin: 100% 50%;
  
        &:before {
          transform: scale(0.6);
          display: inline-block;
          vertical-align: -3px;
        }
  
        &:hover {
          background-color: #b4bccc;
          color: #fff;
        }
      }
    }
}

.tags-view-container {
    height: 34px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
  
    .tags-view-wrapper {
      .tags-view-item {
        display: inline-block;
        position: relative;
        cursor: pointer;
        height: 26px;
        line-height: 25px;
        border: 1px solid rgba(124,141,181,.3);
        border-radius: 4px;
        color: #495060;
        background: #fff;
        padding: 0 8px;
        font-size: 12px;
        margin-left: 5px;
        margin-top: 4px;
        box-sizing: border-box;
  
        &:first-of-type {
          margin-left: 15px;
        }
  
        &:last-of-type {
          margin-right: 15px;
        }
  
        &.active {
          background-color: #5DDAB4;
          color: #fff;
        }
      }
    }
  
    .contextmenu {
      margin: 0;
      background: #fff;
      z-index: 3000;
      position: absolute;
      list-style-type: none;
      padding: 5px 0;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 400;
      color: #333;
  
      li {
        margin: 0;
        padding: 7px 16px;
        cursor: pointer;
  
        &:hover {
          background: #eee;
        }
      }
    }
}