.scroll-container {
    .el-scrollbar__bar {
      bottom: 0px;
    }
  
    .el-scrollbar__wrap {
      height: 49px;
      .el-scrollbar__view{
          display: flex;
      }
    }
}

.scroll-container {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: 100%;
}