<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新闻列表</title>
  <link rel="stylesheet" href="/public/css/bootstrap.css">
</head>

<body>
  <div class="container">
    <h1>{{title}}</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {% for item in list %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="text-center">{{item.title}}</h3>
          </div>
          <div class="panel-body">
            <img src="{{item.image}}" class="img-responsive" center-block />
          </div>
          <div class="panel-footer">
            <h3 class="text-center">创建时间{{helper.fromNow(item.createAt)}}</h3>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

</html>