body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  z-index: 11;
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 6px;
  background: #b4bccc;
}

::-webkit-scrollbar-corner {
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-track-piece {
  background: #ffffff;
  width: 6px;
}
