html{
    background-color: #fff ;
}
body{
    padding: 10px;
}
.wrapper{
    max-width: 600px;
    margin: 0 auto;
}
h1{
    font-size: 2em;
}

.wrapper p{
    color: #33373d;
    line-height: 1.5;
    text-indent: 2em;
}
img{
    display: block;
    margin: 10px auto 10px;
    max-width: 100%;
}