// 清除浮动
@mixin utils-clearfix {
  $selector: &;
  @at-root {
    // @at-root 提升到scss文件的根层级，比如: el-row.scss 文件的根层级，即和 el-row 同一个层级，而不是子级
    #{$selector}::before,
    #{$selector}::after {
      display: table; // display：block；也可以
      content: ""; // 不占大小
    }
    #{$selector}::after {
      clear: both; // 清除浮动
    }
  }
}

// 文字垂直居中
@mixin utils-vertical-center {
  $selector: &;
  @at-root {
    #{$selector}::after {
      display: inline-block;
      content: "";
      height: 100%;
      vertical-align: middle;
    }
  }
}
