@use 'mixins/mixins.scss' as *;

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@include b(icon) {
  display: inline-flex;
  height: 1em;
  width: 1em;
  vertical-align: middle;

  svg.loading {
    animation: loading 1s linear infinite;
  }
}
