@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1614759044907'); /* IE9 */
  src: url('./iconfont.woff?t=1614759044907') format('woff'),
  url('iconfont.ttf?t=1614759044907') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1614759044907#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zoe-ui-ico:before {
  content: "\e603";
}

.zoe-ui-up-fill:before {
  content: "\e601";
}

.zoe-ui-home:before {
  content: "\e600";
}

.zoe-ui-right:before {
  content: "\e649";
}

.zoe-ui-arrow-fill:before {
  content: "\e940";
}

.zoe-ui-logo:before {
  content: "\e66a";
}

