.vk-icon {
  --vk-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--vk-icon-color);
  font-size: inherit;
}

@each $val in primary,info,success,warning,danger {
  .vk-icon--$(val) {
    --vk-icon-color: var(--vk-color-$(val));
  }
}
